$primary-bg-image: url("./images/bg-image.jpg");
$primary-bg-color: greenyellow;
$secondary-bg-color: darkgreen;

$primary-font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$primary-font-color: black;

$primary-border: 3px solid black;
$secondary-border: 3px solid greenyellow;
